.header {
  height: 90.8vh;
  background-image: url('../../assets/img/mountains-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .mainHeader {
    padding-top: 50px;
    padding-left: 45px;
    color: #f1f1e4;
    position: relative;
    .stiker {
      position: absolute;
      right: 145px;
      top: 125px;
    }
    .main__title {
      font-size: 35px;
    }

    .sub__title {
      font-size: 20px;
      margin-top: 45px;
      width: 45%;
      letter-spacing: 3px;

      span {
        display: inline-block;
        margin-bottom: 3px;
        background-color: rgb(156, 156, 14);
      }
    }
  }
}

.main {
  background-color: #f2eded;
  .posts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .allPosts {
      width: 60%;
      min-height: 300px;

      .wallpaper {
        margin: 30px 0;
        padding: 10px 0;
        margin-left: 75px;
        // background-color: #e7f0a2;
        // background-color: #f2eded;
        background-color: #fff;
        border-radius: 10px;
        width: 72%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    .popularPosts {
      width: 40%;
      display: flex;
      justify-content: left;
      flex-direction: column;
      margin: 30px 0;
      .popular {
        background-color: #fff;
        max-width: 335px;
        height: 250px;
        border-radius: 10px;
        position: sticky; // Добавляем sticky-позиционирование
        top: 20px; // Отступ сверху при залипании
        margin-right: 30px; // Отступ от правого края
        .kubok {
          display: flex;
          justify-content: center;
          img {
            width: 100px;
            margin: 0 auto;
          }
        }
        .topList ol {
          width: 200px;
          li {
            margin-bottom: 6px;
          }
        }
      }
      .search {
        background-color: #fff;
        max-width: 335px;
        height: 150px;
        margin-top: 30px;
        margin-right: 30px; // Отступ от правого края
        border-radius: 10px;
        position: sticky; // Добавляем sticky-позиционирование
        top: 300px; // Отступ сверху при залипании

        display: flex;
        justify-content: center;

        form {
          margin-top: 35px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .filter {
            display: flex;
            gap: 5px;
            align-items: center;
            input {
              width: 210px;
              height: 20px;
              padding: 2px 4px;
            }
            .btn {
              padding: 3.5px 4px;
              border-radius: 3px;
              cursor: pointer;
              background-color: #8de8f3;
              border: 0;
            }
          }
          .reset {
            margin-top: 10px;
            .btn {
              padding: 3.5px 4px;
              border-radius: 3px;
              border: 0;
              background-color: #ff586f;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
