.main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2eded;
  padding: 20px;

  .post {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    // border: 3px solid black;
    background-color: #fff;
    border-radius: 15px;
    .functions {
      margin: 25px 0 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btnBack {
        font-size: 20px;
        a {
          text-decoration: none;
        }
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 3px;
        }
      }
      .edit {
        font-size: 28px;
        display: flex;
        justify-content: right;
        gap: 20px;

        .editBtn {
          cursor: pointer;
        }
        .deleteBtn {
          cursor: pointer;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      margin: 0 4px;
      .aboutUser {
        width: 60%;
        display: flex;
        gap: 25px;
        align-items: center;

        img {
          width: 25px;
          height: 27px;
        }
      }
      .views {
        width: 40%;
        display: flex;
        justify-content: right;
      }
    }

    .imgPost img {
      width: 100%;
    }

    .content {
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
    }

    .aboutPost {
      display: flex;
      align-items: center;
      margin: 25px 4px;

      .score {
        width: 60%;
        display: flex;
        gap: 25px;
        align-items: center;

        .like {
          font-size: 28px;
          cursor: pointer;
        }
        .comment {
          font-size: 26px;
          cursor: pointer;
        }
      }
      .createDate {
        font-size: 24px;
        width: 40%;
        display: flex;
        justify-content: right;
        p {
          padding: 0;
          margin: 0;
        }
      }
    }
    .comments {
      margin-bottom: 20px;
      h2 {
        margin-bottom: 15px;
      }
      form {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          width: 300px;
          height: 25px;
        }
        .sendComment {
          cursor: pointer;
          font-size: 26px;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .main {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f2eded;
    padding-bottom: 100px;
  }
}
