.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .mainNav {
    display: flex;
    gap: 15px;

    a {
      text-decoration: none; // Убираем подчёркивание
      color: black; // Обычный цвет текста

      &.active {
        color: rgb(0, 0, 0); // Синий цвет для активной ссылки
        transform: scale(1.1);
        font-weight: bold;
      }
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
